.deletemenu {
    width: 50%;
    position: fixed;
    background: white;
    border-radius: 8px;
    border: black solid 2px;
    box-shadow: 100px 100px 100px 1000px rgba(0, 0, 0, 0.9);
    margin-left: 20%;
    height: 300px;
    overflow: scroll;
    display: none;
}