body {
  font-family: "SFCompactRounded Regular";
  font-weight: bolder;
}

header {
  font-family: "SFCompactRounded-Regular";
}

h1, h2, p, a, h2, span, button, div, ul, li {
  font-family: "SFCompactRounded-Regular";
}

body {
  background-color: whitesmoke;
}

.name {
  font-size: 2em;
  color: black;
}

.content {
  padding: 5px 0 0 5px;
  margin-top: 2%;
}

.notetext {
  background: #EFBE74;
  border-radius: 6px;
  height: 150px;
}

a {
  text-decoration: none;
  color: black;
}

.tittle h1 {
  background: cadetblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.text-lr {
  color: white;
  font-size: 30px;
}

.linkadd {
  height: auto;
  width: 5%;
  border-radius: 8px;
  font-weight: bold;
  padding: 0%;
  background: #3b6a5d;
  font-size: 1.5em;
  color: black;
  float: left;
  margin-left: 1%;
  margin-top: 0.9%;
}

.btn-gtk-left {
  height: auto;
  width: 5%;
  border-radius: 8px;
  font-weight: bold;
  padding: 0%;
  background: #3b6a5d;
  font-size: 1.5em;
  color: black;
  float: left;
  margin-left: 1%;
  margin-top: 0.9%;
}

.btn-gtk-right {
  height: auto;
  width: 5%;
  border-radius: 8px;
  font-weight: bold;
  padding: 0%;
  background: #3b6a5d;
  font-size: 1.5em;
  color: black;
  float: right;
  margin-left: 1%;
  margin-top: 0.9%;
}

.gtk {
  color: white;
}

.sidemenu {
  background: #CFCFCF;
  width: 20%;
  height: auto;
  padding: 1%;
  position: fixed;
  margin-top: 10%;
  margin-left: 20%;
  border: solid black 1px;
  position: fixed;
  display: none;
  border-radius: 10px;
}

.folder {
  border-radius: 5px;
  height: 6%;
  margin-bottom: 6%;
  float: left;
  width: 98%;
  font-size: 18px;
}

.folder:nth-child(4) {
  background: #959394;
}

.folder:nth-child(3) {
  background: #C29641;
}

.folder:nth-child(2) {
  background: #43A632;
}

.folder:nth-child(1) {
  background: #3EA3DC;
}

.tittle {
  font-size: 2em;
  width: 140%;
}

.block-lm {
  float: right;
  margin-bottom: 3%;
  background-color: #2E2937;
  padding: 1%;
  height: auto;
  border-radius: 16px;
  float: left;
  width: 23%;
  margin-right: 1%;
  margin-left: 1%;
}

.d1 {
  background: rgb(0 0 0 / 50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.d1 input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
  margin-right: -30%;
}

.d1 button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  margin-top: 0%;
  margin-left: 30%;
}

.d1 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}

.text-r {
  height: 150px;
  overflow: scroll;
  text-align: left;
}

.top-bar {
  width: 100%;
  position: fixed;
  top: 0;
  background: grey;
  margin-left: -1.2%;
  border: solid black 1px;
  height: 10%;
}

.main-text {
  text-align: center;
  font-size: 25px;
  margin-top: 1.5%;
}

.setting {
  width: 40%;
  height: auto;
  background: gray;
  position: fixed;
  padding: 1%;
  box-shadow: 100px 100px 100px 1000px rgba(0, 0, 0, 0.9);
  display: none;
  margin-left: 30%;
  margin-top: 20%;
  border-radius: 10px;
  border: solid black 1px;
}

.setting p {
  font-size: 2em;
}

/* CSS Mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
  .content {
    margin-left: 0;
    margin-top: 25%;
  }

.block-lm {
  float: right;
  margin-bottom: 3%;
  background-color: #2E2937;
  padding: 1%;
  height: auto;
  border-radius: 16px;
  float: left;
  width: 47%;
  margin-right: 1%;
  margin-left: 1%;
}


  .tittle {
    width: 105%;
    font-size: 21px;
    border-radius: 0px;
    margin: 0;
    margin-left: -5px;
    margin-top: -5px;
    background-color: cadetblue;
    height: 10px;
  }

  .text-r {
    height: 200px;
    overflow: scroll;
  }

  .linkadd {
    height: 50px;
    margin-top: -1%;
    border-radius: 50%;
    font-size: 2.5em;
    padding: 0%;
    color: black;
  }

  .form-inner {
    margin-left: 10%;
    margin-top: 30%;
  }

  .send-post {
    margin-bottom: 5%;
    margin-top: -5%;
  }

  .sidemenu {
    display: none;
    float: left;
  background: #CFCFCF;
  width: 20%;
  height: auto;
  padding: 1%;
  position: fixed;
  margin-top: 2%;
  margin-left: -1%;
  border: solid black 1px;
  border-radius: 10px;
  }

  .btn-box {
    float: left;
  }
  
.linkadd {
  height: auto;
  width: 10%;
  border-radius: 8px;
  font-weight: bold;
  padding: 0%;
  background: #3b6a5d;
  font-size: 1.5em;
  color: black;
  float: left;
  margin-left: 2%;
  margin-top: 1%;
}

.btn-gtk-left {
  height: auto;
  width: 10%;
  border-radius: 8px;
  font-weight: bold;
  padding: 0%;
  background: #3b6a5d;
  font-size: 1.5em;
  color: black;
  float: left;
  margin-left: 2%;
  margin-top: 1%;
}

.btn-gtk-right {
  height: auto;
  width: 10%;
  border-radius: 8px;
  font-weight: bold;
  padding: 0%;
  background: #3b6a5d;
  font-size: 1.5em;
  color: black;
  float: right;
  margin-left: 4%;
  margin-top: 1%;
}

.btn-gtk {
  height: auto;
  width: 10%;
  border-radius: 8px;
  font-weight: bold;
  padding: 0%;
  background: #3b6a5d;
  font-size: 1.5em;
  color: black;
}
  
.top-bar {
  width: 101%;
  position: fixed;
  top: 0;
  background: grey;
  margin-left: -3%;
  border: solid black 1px;
  height: 10%;
}

}

/*  FONT IMPORT   */
@font-face {
  font-family: "SFCompactRounded-Regular";
  src: url("../../fonts/SFCompactRounded-Regular.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}